*{
    margin: 0;
    margin-top: 0;
    box-sizing: border-box;
    display: relative;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}
.container{
  
    margin-top: 50px;
}
.inputs, .btn, p{
    text-transform: uppercase;
    background-color: rgb(170, 170, 212);
    color: black;
    padding: 10px;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
.inputs11{
    color: black;
    background-color: black;
    outline: none;
    border-color: black;

}

p{
    margin-top: -46px;
   display: flex;
    margin-left: 21%;
  
    
}