
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#click{
    display:none;
}
#click:checked ~ .menu-btn i:before{
    content:"\f00d";
}

nav{
    height: 80px;
    background: rgb(51, 49, 49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

}
nav .logo{
    font-size: 30px;
    color:white;
    font-weight: 600;

}

nav ul{
    display:flex;
    list-style:none ;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s;
    padding: 8px 10px ;
    border-radius: 5px;

}

nav ul li a:hover,
nav ul li a:active
{
    color:cyan;
    background: none;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display:none;
}

@media (max-width: 940px){

    nav .menu-btn i{
        position: fixed;
   
        display:block;
    }
    nav ul{
        position: fixed;
        top:80px;
        left: -100%;
        background:rgb(51, 49, 49);;
        height:100vh;
        width:100%;
        display:block;
        text-align: center;
        transition:all 0.3s ease;

    }
   
    #click:checked ~ ul{
        left: 0%;
    }

    nav ul li{
        margin:40px 0;

    }
    nav ul li a{
        font-size: 20px;
        display: block;

    }
}

